<launch>
<!-- 
this launches robotiq_2f_action_server.py under two namespaces of /green and /blue 
need to 

@TODO: bind serial device comport to specific grippers

-->

    <arg name="sim" default="false"/>
    <arg name="green_gripper_comport" default="/dev/ttyACM0" unless="$(arg sim)"/>
    <arg name="blue_gripper_comport" default="/dev/ttyACM2" unless="$(arg sim)"/>
    <arg name="gripper_stroke" default="0.085"/>
    <arg name="baud_rate" default="115200"/>
    <arg name="rate" default="50"/>

    <!-- Launch action server for gripper -->
    <group ns="green">
        <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">
            <arg name="comport" value="$(arg green_gripper_comport)" unless="$(arg sim)"/>
            <arg name="stroke" value="$(arg gripper_stroke)"/>
            <arg name="joint_name" value="green_finger_joint"/>
            <arg name="verbose" value="true"/>
            <arg name="sim" value="$(arg sim)"/>
            <arg name="rate" value="$(arg rate)"/>
            <arg name="baud" value="$(arg baud_rate)"/>
        </include>
    </group>

    <!-- Launch action server for gripper -->
    <group ns="blue">
        <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">
            <arg name="comport" value="$(arg blue_gripper_comport)" unless="$(arg sim)"/>
            <arg name="stroke" value="$(arg gripper_stroke)"/>
            <arg name="joint_name" value="blue_finger_joint"/>
            <arg name="verbose" value="true"/>
            <arg name="sim" value="$(arg sim)"/>
            <arg name="rate" value="$(arg rate)"/>
            <arg name="baud" value="$(arg baud_rate)"/>
        </include>
    </group>
</launch>
